.mainDiv {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  row-gap: 30px;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  height: 45vh;
}

.header {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  font-family: cursive;
  border-bottom: 1px solid black;
}

.header h1 {
  font-size: 21px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.split {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.left {
  background-color: rgb(108 221 143);
  border-bottom-left-radius: 44px;
  border-top-left-radius: 44px;
  margin-right: 5px;
}

.right {
  background-color: rgb(92 235 175);
  border-bottom-right-radius: 44px;
  border-top-right-radius: 44px;
  margin-left: 5px;
}

.centered {
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding: 2px;
  cursor: pointer;
}

.token {
  text-align: center;
}

.token button {
  cursor: pointer;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
}

.tokenInfo {
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.active {
  display: block;
}

.unactive {
  display: none;
}
